.btnCount_wrapper{
  margin-top: 35px;
  width: 336px;
  display: flex;
  justify-content: space-around;

}
.btn{
  padding: 10px 30px;
  background-color:#6bdcea ;
  border: none;
  border-radius: 3px ;
  font-size: 20px;
}


