.btnSet {
  margin-top: 35px;
  & button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #6bdcea;
    border: none;
    border-radius: 3px;
    font-size: 20px;
  }
}