
.windowCount{
  padding: 20px;
  width: 380px;
  margin: 200px auto;
  background-color: #373737 ;
  border: 2px solid #6bdcea;
  border-radius: 10px;
  box-sizing: border-box;
  &_inner{
    display: flex;

  }
}