.count_wrapper{
  padding: 45px 0 45px 0;
  width: 330px;
  margin: 0 auto;
  border:2px solid #6bdcea;
  border-radius: 5px;
}

.count_content{
  font-size: 25px;
  display: block;
  text-align: center;
  color: #6bdcea;
}
.count_content_red {
  color: red;
}